@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-card {
    @apply flex items-center justify-center text-xl gap-2 border border-[#DEDEDE] rounded-[15px] w-full py-[10px] h-full
}

.brand-card.active {
    @apply border-primary bg-[#ffe5dc] font-bold relative;
}

.brand-card.active::after {
    @apply absolute bottom-[-8px] left-1/2 transform -translate-x-1/2;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ff5a36;
}

.swiper-button-disabled {
    opacity: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
    z-index: 10;
}

.swiper-button-next {
    background-color: #ff5a36;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-75%);
    z-index: 100;
}

.swiper-button-next::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" viewBox="0 0 24 24"><path d="M9 5l7 7-7 7"/></svg>');
    transform: translateY(-3px);
}

.swiper-button-prev {
    background-color: #ff5a36;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 75%;
    transform: translateY(-75%);
}

.swiper-button-prev::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" viewBox="0 0 24 24"><path d="M15 19l-7-7 7-7"/></svg>');
    transform: translateY(-3px);
}

/* .swiper-button-next::before,
.swiper-button-prev::before {
    content: '';
    position: absolute;
    top: -23px;
    left: 0;
    height: 260%;
    width: 133%;
    background: linear-gradient(to left, rgb(224, 224, 224), rgba(255, 91, 54, 0));
    z-index: 10;
} */


.gradient-background {
    position: absolute;
    /* Ensure it overlays the Swiper */
    top: 0;
    /* Align to top */
    right: 0;
    /* Align to right */
    height: 100%;
    /* Full height of the parent */
    width: 23.33%;
    /* Adjust the width as needed */
    background: linear-gradient(to left, rgba(255, 90, 54, 0.7), rgba(255, 90, 54, 0.2));
    /* Gradient colors */
    z-index: 0;
    /* Behind the swiper */
}